---
title: Home
permalink: '/'
---

<!-- Welcome Intro -->
<section class="intro intro-layout">
    <img class="headshot-layout" src="/assets/images/headshot.jpg" id="headshot" alt="headshot"/>
    <div class="name-card">
        <h1 class="title">Erik J. Murray</h1>
    </div>
    <div class="contact-layout">
        <div class="contact">
            <h2>Contact Info</h2>
            <p id="email" title="Email Me!">
                <a href="mailto:erikjmurray@gmail.com?subject=Hello%20from%20your%20website!&body=--this%20message%20sent%20from%20the%20link%20on%20erikjmurray.com--" target="_top">
                    <span class=email-break>erikjmurray</span>@gmail.com
                </a>
            </p>
            <p id="resume" title="View My Resume!">
                <a href="/assets/files/erik-murray-resume.pdf" target="_blank">
                    Resume
                </a>
            </p>
            <!-- SOCIALS -->
            {% include socials.html %}
        </div>
    </div>
</section>	

<!-- About Me -->
<section id="about-me" class="index-section-layout">
    <div class="section-header">
        <h1 class="title">About Me</h1>
    </div>
    <div class="index-section-content">
        {% capture about %}
            {% include about-me.md %}
        {% endcapture %}
        {{ about | markdownify }}
        <hr>
        <h2 class="signature">- Erik J. Murray</h2>
    </div>
</section>

{% assign posts = site.posts | where: "tags", "featured" %}
{% include blog-section.html posts=posts header="Recent Posts" limit=4 %}

<!-- Section footer -->
<div class="section-footer">
    <h2>See more blog posts <a href="/blog" style="text-decoration: underline;">HERE</a></h2>
</div>
