<ul class="socials">
    <li><a href="http://twitter.com/share?text={{ include.title }}&url={{ site.url }}{{ include.url }}&via={{ site.twitter_handle }}&related={{ site.twitter_handle }}" rel="nofollow" target="_blank">
        <img class="social-img img-dark" title="Share on Twitter!" alt="Twitter" src="/assets/images/social/twitter.png" />
    </a></li>

    <li><a href="http://www.reddit.com/submit?url={{ site.url }}{{ include.url }}&title={{ include.title }}" rel="nofollow" target="_blank">
        <img class="social-img img-dark" title="Share on Reddit!" alt="Reddit" src="/assets/images/social/reddit.png"/>
    </a></li>

    <li><a href="http://www.facebook.com/sharer?u={{ site.url }}{{ include.url }}&p[title]={{ include.title }}" rel="nofollow" target="_blank">
        <img class="social-img img-dark" title=" Share on Facebook!" alt="Facebook" src="/assets/images/social/facebook.png" />
    </a></li>

    <li><a href="mailto:?subject=Check%20out%20this%20link!&body={{ site.url }}{{ include.url }}" rel="nofollow" target="_blank">
        <img class="social-img img-dark" title="Email" alt="Email" src="/assets/images/social/email.png"/>
    </a></li>

    <li><a id="copy" onclick="copyUrl('{{ site.url }}{{ include.url }}')" rel="nofollow" target="_blank">
        <img class="social-img" title="Copy Link" alt="copy-link" src="/assets/images/social/link-dark.png"/>
    </a></li>
</ul>