<ul class="socials">
    <li><a href="https://twitter.com/erikjmurray" target="_blank">
        <img class="social-img" title="Twitter" alt="Twitter" src="/assets/images/social/twitter.png" />
    </a></li>

    <li><a href="https://www.reddit.com/user/erkmurindustries" target="_blank">
        <img class="social-img" title="Reddit" alt="Reddit" src="/assets/images/social/reddit.png" />
    </a></li>

    <li><a href="https://www.linkedin.com/pub/erik-murray/bb/98b/396" target="_blank">
        <img class="social-img" title="LinkedIn" alt="LinkedIn" src="/assets/images/social/linkedin.png" />
    </a></li>

    <li><a href="https://soundcloud.com/erikjmurray" target="_blank">
        <img class="social-img" title="SoundCloud" alt="SoundCloud" src="/assets/images/social/soundcloud.png"/>
    </a></li>
</ul>