
/* ----- BLOG POST ----- */
.blog-layout {
    display: grid;
    grid-template-rows: 250px auto;
    grid-template-columns: 1fr 1fr 7fr 1fr 1fr;
}

.hero-layout {
    grid-row: 1;
    grid-column: 1 / -1;
}

.hero {
    background-color: #315469;
    color: #ddd;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-header {
    margin: auto;
    width: fit-content;
}

.blog-header > h1 {
    font-size: 40px;
    text-decoration: underline;
}

.blog-header > * {
    margin: 0;
    color:#ddd;
    text-align: center;
}

.blog-header > p {
    padding: 10px 20px;
    /* text-align: justify; */
}

.toc-layout {
    grid-row: 2;
    grid-column: 1 / 3;
}

.toc {
    position: sticky;
    top: 15px;
}

.toc > h4 {
    margin: 20px 0 0 0;
    font-size: 20px;
}

.toc > ul {
    margin: 10px 0;
}

li {
    padding: 3px 0;
    text-align: justify;
}

.article-layout {
    grid-column: 3 / 4;
}

.article-content {
    padding: 0 20px;
}

.article-content > p {
    text-align: justify;
}

.blog-img {
    max-width: 100%;
    height: auto;
}

.pagination-layout {
    display: grid;
    grid-column: 3;
}

.pagination-content {
    display: flex;
    margin: 25px 0;
}

.pagination-link {
    margin: auto;
    text-align: center;

    min-width: 100px;
    padding: 15px 10px;
    color: white;
    background-color: #315469;
    border-radius: 5px;
}

.pagination-link:visited {
    color: white;
}

.pagination-link > p {
    margin: 0;
    padding: 0;
}

#previous-page {
    float: left;
}

#next-page {
    float: right;
}

@media (max-width: 900px) {   
    .blog-layout {
        grid-template-columns: 1fr;
    }

    .hero-layout {
        grid-column: 1;
    }

    .toc-layout {
        grid-column: 1;
    }

    .toc {
        position: relative;
    }

    .article-layout {
        grid-column: 1;
    }

    .pagination-layout {
        grid-column: 1;
    }
}
