---
title: EJM - Blog Home
permalink: "/blog"
---

 <div class="content">
   <section class="intro intro-layout">
      <h1>Blog Homepage</h1>
   </section>	

   <!-- RECENT BLOG POSTS  -->
   {% assign posts = site.posts | limit:4 %}
   {% include blog-section.html posts=posts %}

   <!-- HOW IT WORKS POSTS  -->
   {% assign how_posts = [] %}
      {% for post in site.posts %}
         {% if post.category contains "how-it-works" %}
            {{ how_posts.append(post) }}
         {% endif %}
      {% endfor %}
   {% include blog-section.html posts=how_posts %}
 </div>
