---
title: EJM - Blog Home
permalink: "/blog"
---

 <div class="content">
   <section class="intro intro-layout">
      <h1>Blog Homepage</h1>
   </section>	

   <!-- RECENT BLOG POSTS  -->
   {% assign posts = site.posts | limit:4 %}
   {% include blog-section.html posts=posts header="Recent Posts" %}

   <!-- HOW IT WORKS POSTS  -->
   {% assign howItWorksPosts = site.posts | where: 'categories', 'how-it-works' %}
   {% include blog-section.html posts=howItWorksPosts header="How It Works" %}
 </div>
