---
layout: default
---

<!-- Content goes here -->
<div class="blog-layout">
    <section class="hero-layout hero"></section>
    <section class="hero-layout blog-header">
        <h1>{{ page.series }}</h1>
        <h2>{{ page.title }}</h2>
        <p>{{ page.excerpt | newline_to_br }}</p>
    </section>

    <section class="toc-layout">
        <div id="toc-div" class="flex-content toc">
            <!-- Kramdown generated TOC, relocated by JS -->
        </div>
    </section>

    <section class="article-layout">
        <div class="article-content">
            {{ content }}
        </div>
    </section>

    {% unless page.page-num == 0 %}
        {% include pagination.html page=page %}
    {% endunless %}
</div>